body {
   background-color: black;
   text-align: center;
   color: white;
   font-family: 'Helvetica';
}

#cityLabel {
   font-weight: bold;
   padding: 20px;
}

.forecast {
   padding-bottom: 10px;
}

#clock {
   font-size: 4em;
   font-weight: bold;
}

.alarm {
   width: 40%;
   display: inline-block;
   line-height: 18px;
}

.alarmRow {
   padding-bottom: 10px;
}

.deletebtn {
   display: inline-block !important;
   margin: 0px !important;
   padding: 0px !important;
   width: 50px !important;
}

.cold {
   background-color: #95A5A6;
}

.chilly {
   background-color: #1ABC9C;
}

.nice {
   background-color: #2980B9;
}

.warm {
   background-color: #E67E22;
}

.hot {
   background-color: #E74C3C;
}